@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
}

.center{
    max-width:1280px;
    padding:0 2%;
    margin: 0 auto;
}

.clear{clear:both;}

.w-50{
    float:left;
    width:50%;
    padding:0 20px;
}

/* Fim Config. Gerais */

/* Config. Header */

section.cabecalho{
    position: relative;
    width:100%;
    min-height:800px;
    background-image:url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
    padding:15px 0;
}

.layer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

header{
    position:relative;
    z-index: 2;
    padding-bottom:10px;
    border-bottom:1px solid #fff;
}

section.icon-socials{
    float:right;
}

section.icon-socials a{
    text-decoration: none;
    color:#fff;
    font-size: 1.2em;
    margin:0 15px;
}

.logomarca{
    margin-top:20px;
    float:left;
    
}

.logomarca h1{
    color:#fff;
    font-size: 2.3em;
    font-weight: 400;
}

nav.desktop{
    margin-top:30px;
    float:right;
}

nav.desktop ul li{
    display:inline-block;
}

nav.desktop a{
    text-decoration: none;
    color:#fff;
    font-size: 1.2em;
    font-weight: 300;
    margin:0 30px;
}

nav.mobile{
    float:right;
    display:none;
    z-index: 1;
}

nav.mobile i{
    position: relative;
    top:30px;
    font-size: 2em;
    color:#fff;
    cursor: pointer;
}

nav.mobile ul{
    display:none;
    position:absolute;
    top:95px;
    left:0;
    width:100%;
    background-color:#fff;
}

nav.mobile ul li{
    list-style-type: none;
    text-align: center;
    border-bottom:1px solid #777;
    padding:10px 0;
}

nav.mobile a{
    text-decoration: none;
    color:#000;
    font-size: 1.2em;
    font-weight: 300;
}

section.conteudo-chamada{
    position: relative;
    max-width: 700px;
    margin: 40px 0;
    z-index: 1;
}

section.conteudo-chamada h2{
    font-size:2em;
    font-weight: 400;
    color:#fff;
    margin-bottom:10px;
}

.destaque{
    color:#1B8FFF;
}

section.conteudo-chamada p{
    text-align: justify;
    font-weight: 300;
    font-size:1.1em;
    line-height:22px;
    color:#fff;
    margin-bottom:10px;
}

section.conteudo-chamada a{
    display:inline-block;
    text-decoration: none;
    font-weight: 300;
    font-size:1.2em;
    color:#fff;
    background-color: #1B8FFF;
    margin-top:20px;
    padding: 10px 50px;
    border-radius: 20px;
}

/* Fim Config. Header */

/* Config. Section-Planos */

.title-section{
    width:100%;
    padding:27px 2%;
    background-color:rgb(184, 184, 184);
    text-align: center;
}

.title-section h2{
    display: inline-block;
    color:#2692FF;
    border-top:2px solid #2692FF;
    font-weight: 400;
    font-size:1.7em;
}

.box-planos{
    padding:40px 0;
}

.box-planos > .center{
    display: flex;
    flex-wrap: wrap;
}

.planos-single{
    width:33.3%;
    padding:0 2%;

}

.planos-wrapper{
    width:100%;
    border:1px solid #ccc;
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    min-height: 320px;
}

.planos-single h2{
    background-color: #2692FF;
    color:#fff;
    font-weight: 400;
    text-align: center;
    padding:10px;
}

.planos-single p{
    padding-top:8px;
    color:#777;
    margin-left:20px;
    font-weight: 300;
}

.content-planos{
    padding:8px 0 15px 0;
}

.planos-preco{
    margin-top:10px;
    padding: 15px 0;
    text-align: center;
}

.planos-preco h3{
    padding:0 25px;
    display: inline-block;
    border-top:1px solid #777;
    color:#777;
    font-weight: 400;
    font-size:1.5em;
}

/* Fim Config. Section Planos */

/* Config. Parallax */

.parallax{
    position:relative;
    background-image: url('../img/bg_parallax.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:30px 0;
    min-height:300px;
}

.parallax > .center{
    position:relative;
    z-index: 2;
}

.parallax h2{
    color:#fff;
    font-size:2em;
    font-weight: 400;
    text-align: center;
}

.parallax p{
    color:#fff;
    font-weight: 300;
    font-size:1.2em;
    margin-top:10px;
    line-height:24px;
    text-align: justify;
}

/* Fim Config. Parallax */

/* Config. Section Final */

section.final{
    padding:50px 0;
}

.section-contact h2, .about-team h2{
    position:relative;
    font-weight: 400;
    color:#777;
}

.border-effect{
    position: absolute;
    width:50px;
    height:2px;
    background-color: #777;
    transition-duration: 0.5s;
}

.section-contact h2:hover .border-effect, .about-team h2:hover .border-effect{
    width:100px;
}

.section-contact form{
    margin-top:10px;
}

.section-contact input:not(input[type=submit]){
    width:100%;
    height:40px;
    outline:0;
    border:1px solid #ccc;
    padding-left:8px;
    margin: 5px 0;
}

.section-contact textarea{
    width:100%;
    height:150px;
    margin:5px 0;
    padding:8px;
    border:1px solid #ccc;
    outline:0;
    resize:vertical;
}

.section-contact input[type=submit]{
    display:block;
    border:0;
    font-weight: 300;
    font-size:1.2em;
    color:#fff;
    background-color: #1B8FFF;
    margin-top:10px;
    padding: 10px 30px;
    border-radius: 15px;
    cursor:pointer;
    transition-duration: 0.5s;
}

.section-contact input[type=submit]:hover{
    background-color:#146fc4;
}

section.final > .w-50{
    width:47%;
    margin:0 2%;
}

.team-single{
    margin-top:15px;
    border:1px solid #ccc;
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    min-height:300px;
}

.top-user{
    border-bottom: 1px solid #777;
}

.top-user .image-user{
    display:inline-block;
    vertical-align: middle;
    margin:5px 0;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#ccc;
}

.info-user{
    display:inline-block;
    padding-left:8px;
    vertical-align: middle;
}

.top-user .info-user h3{
    font-weight: 400;
}

.top-user .info-user p{
    font-weight: 300;
    color:#777;
    margin-bottom:5px;
}

.content-user p{
    margin:10px 0 20px 0;
    font-weight: 300;
    line-height:22px;
    text-align: justify;
}

/* Fim Config. Section Final */

/* Config. Footer */

footer{
    text-align: center;
    width:100%;
    padding:20px 2%;
    color:#fff;
    background-color:#2692FF;
}

/* Fim Config. Footer */

/* Config. Responsividade */

@media screen and (max-width: 768px){

    nav.desktop{
        display:none;
    }

    nav.mobile{
        display:block;
    }

    .w-50{
        width:100%;
        /* float:none; */
        margin:20px 0;
    }

    .planos-single{
        width:100%;
        margin: 15px 0;
    }

    .section-contact input[type=submit]{
        text-align: center;
        margin: 10px auto;
    }

}

/* Fim Config. Responsividade */
